* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none !important;
}

#main {
    height: calc(100% + 1px);
    /* we need a scrollbar, so that overscroll-behavior: none; works */
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type="range"] {
    padding-top: 20px;
    writing-mode: vertical-lr;
    direction: rtl;
    flex: 1 0 auto;
    touch-action: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #00a6b8;
    height: 4px;
    width: calc(100% - 2px);
    border-radius: 3px;
    background: #505050;
    cursor: pointer;
    margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    border: 1px solid #001892;
    height: 4px;
    width: 99%;
    border-radius: 3px;
    background: #000000;
    cursor: pointer;
    margin-top: -14px;
}

article > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
