* {
    box-sizing: border-box;
}

html,
body {
    height: calc(100svh + 1px);
    /* we need a scrollbar, so that overscroll-behavior: none; works */
    /* overflow: hidden; */
    margin: 0;
    overscroll-behavior: none !important;
}

#main {
    height: 100svh;
}

main {
    height: 100svh;
    padding-top: 20px;
    padding-bottom: 2cm;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
}

div[id="slider"] {
    min-height: 0;
    position: relative;
    max-height: 12cm;
}

input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    touch-action: none;
    height: 100%;
    margin: 0;
    border: 1px solid #00000052;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: 1px solid #00a6b8;
    height: 4px;
    width: calc(100% - 2px);
    border-radius: 3px;
    background: #5050502c;
    cursor: pointer;
    margin-top: -14px;
}

div[id="slider"]>hr {
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px solid var(--pico-color-amber);
    margin: 0;
    pointer-events: none;
}

div[id="slider"]>div {
    position: absolute;
    pointer-events: none;
    padding: 5px;
}

article>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
